.abtBox {
    margin: 25px;
    padding: 25px;
    font-size: large;
    border: solid whitesmoke 5px;
    color: 	#2F4F4F;
    transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.abtBox:hover {
    /* background-color: black; */
    color: silver;
    /* background-color: blue; */
  }

.abtBttnBox {
    margin: 10px;
    padding: 10px;
    border: solid whitesmoke 5px;
    color: 	#2F4F4F;
    display: inline-block;
    transition-property: background ;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.abtBttnBox:hover {
    background-color: blue;
    color: silver;
}