@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

a {
  color: inherit;
  text-decoration: none;
}

.rocket {
  height: 60px;
  width: 60px;
}

#copyright {
  text-align: center;
  position: bottom;
}

* {
  box-sizing: border-box;
}

/* source-code https://codepen.io/wheresdara/pen/wvXBpwa */

body{
  background-color: white;
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 3px;
  width: 3px;
  background-color: goldenrod;
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px goldenrod,25vw -41vh 0px 0px goldenrod,-20vw 49vh 0px 1px goldenrod,5vw 40vh 1px 1px goldenrod,29vw 19vh 1px 0px goldenrod,-44vw -13vh 0px 0px goldenrod,46vw 41vh 0px 1px goldenrod,-3vw -45vh 0px 1px goldenrod,47vw 35vh 1px 0px goldenrod,12vw -8vh 1px 0px goldenrod,-34vw 48vh 1px 1px goldenrod,32vw 26vh 1px 1px goldenrod,32vw -41vh 1px 1px goldenrod,0vw 37vh 1px 1px goldenrod,34vw -26vh 1px 0px goldenrod,-14vw -49vh 1px 0px goldenrod,-12vw 45vh 0px 1px goldenrod,-44vw -33vh 0px 1px goldenrod,-13vw 41vh 0px 0px goldenrod,-36vw -11vh 0px 1px goldenrod,-23vw -24vh 1px 0px goldenrod,-38vw -27vh 0px 1px goldenrod,16vw -19vh 0px 0px goldenrod,28vw 33vh 1px 0px goldenrod,-49vw -4vh 0px 0px goldenrod,16vw 32vh 0px 1px goldenrod,36vw -18vh 1px 0px goldenrod,-25vw -30vh 1px 0px goldenrod,-23vw 24vh 0px 1px goldenrod,-2vw -35vh 1px 1px goldenrod,-25vw 9vh 0px 0px goldenrod,-15vw -34vh 0px 0px goldenrod,-8vw -19vh 1px 0px goldenrod,-20vw -20vh 1px 1px goldenrod,42vw 50vh 0px 1px goldenrod,-32vw 10vh 1px 0px goldenrod,-23vw -17vh 0px 0px goldenrod,44vw 15vh 1px 0px goldenrod,-40vw 33vh 1px 1px goldenrod,-43vw 8vh 0px 0px goldenrod,-48vw -15vh 1px 1px goldenrod,-24vw 17vh 0px 0px goldenrod,-31vw 50vh 1px 0px goldenrod,36vw -38vh 0px 1px goldenrod,-7vw 48vh 0px 0px goldenrod,15vw -32vh 0px 0px goldenrod,29vw -41vh 0px 0px goldenrod,2vw 37vh 1px 0px goldenrod,7vw -40vh 1px 1px goldenrod,15vw 18vh 0px 0px goldenrod,25vw -13vh 1px 1px goldenrod,-46vw -12vh 1px 1px goldenrod,-18vw 22vh 0px 0px goldenrod,23vw -9vh 1px 0px goldenrod,50vw 12vh 0px 1px goldenrod,45vw 2vh 0px 0px goldenrod,14vw -48vh 1px 0px goldenrod,23vw 43vh 0px 1px goldenrod,-40vw 16vh 1px 1px goldenrod,20vw -31vh 0px 1px goldenrod,-17vw 44vh 1px 1px goldenrod,18vw -45vh 0px 0px goldenrod,33vw -6vh 0px 0px goldenrod,0vw 7vh 0px 1px goldenrod,-10vw -18vh 0px 1px goldenrod,-19vw 5vh 1px 0px goldenrod,1vw 42vh 0px 0px goldenrod,22vw 48vh 0px 1px goldenrod,39vw -8vh 1px 1px goldenrod,-6vw -42vh 1px 0px goldenrod,-47vw 34vh 0px 0px goldenrod,-46vw 19vh 0px 1px goldenrod,-12vw -32vh 0px 0px goldenrod,-45vw -38vh 0px 1px goldenrod,-28vw 18vh 1px 0px goldenrod,-38vw -46vh 1px 1px goldenrod,49vw -6vh 1px 1px goldenrod,-28vw 18vh 1px 1px goldenrod,10vw -24vh 0px 1px goldenrod,-5vw -11vh 1px 1px goldenrod,33vw -8vh 1px 0px goldenrod,-16vw 17vh 0px 0px goldenrod,18vw 27vh 0px 1px goldenrod,-8vw -10vh 1px 1px goldenrod;

/* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */

box-shadow: 24vw 9vh 1px 0px goldenrod,12vw -24vh 0px 1px goldenrod,-45vw -22vh 0px 0px goldenrod,-37vw -40vh 0px 1px goldenrod,29vw 19vh 0px 1px goldenrod,4vw -8vh 0px 1px goldenrod,-5vw 21vh 1px 1px goldenrod,-27vw 26vh 1px 1px goldenrod,-47vw -3vh 1px 1px goldenrod,-28vw -30vh 0px 1px goldenrod,-43vw -27vh 0px 1px goldenrod,4vw 22vh 1px 1px goldenrod,36vw 23vh 0px 0px goldenrod,-21vw 24vh 1px 1px goldenrod,-16vw 2vh 1px 0px goldenrod,-16vw -6vh 0px 0px goldenrod,5vw 26vh 0px 0px goldenrod,-34vw 41vh 0px 0px goldenrod,1vw 42vh 1px 1px goldenrod,11vw -13vh 1px 1px goldenrod,48vw -8vh 1px 0px goldenrod,22vw -15vh 0px 0px goldenrod,45vw 49vh 0px 0px goldenrod,43vw -27vh 1px 1px goldenrod,20vw -2vh 0px 0px goldenrod,8vw 22vh 0px 1px goldenrod,39vw 48vh 1px 1px goldenrod,-21vw -11vh 0px 1px goldenrod,-40vw 45vh 0px 1px goldenrod,11vw -30vh 1px 0px goldenrod,26vw 30vh 1px 0px goldenrod,45vw -29vh 0px 1px goldenrod,-2vw 18vh 0px 0px goldenrod,-29vw -45vh 1px 0px goldenrod,-7vw -27vh 1px 1px goldenrod,42vw 24vh 0px 0px goldenrod,45vw -48vh 1px 0px goldenrod,-36vw -18vh 0px 0px goldenrod,-44vw 13vh 0px 1px goldenrod,36vw 16vh 0px 1px goldenrod,40vw 24vh 0px 0px goldenrod,18vw 11vh 0px 0px goldenrod,-15vw -23vh 1px 0px goldenrod,-24vw 48vh 0px 1px goldenrod,27vw -45vh 1px 0px goldenrod,-2vw -24vh 0px 1px goldenrod,-15vw -28vh 0px 0px goldenrod,-43vw 13vh 1px 0px goldenrod,7vw 27vh 1px 0px goldenrod,47vw 5vh 0px 0px goldenrod,-45vw 15vh 1px 1px goldenrod,-5vw -28vh 0px 1px goldenrod,38vw 25vh 1px 1px goldenrod,-39vw -1vh 1px 0px goldenrod,5vw 0vh 1px 0px goldenrod,49vw 13vh 0px 0px goldenrod,48vw 10vh 0px 1px goldenrod,19vw -28vh 0px 0px goldenrod,4vw 7vh 0px 0px goldenrod,21vw 21vh 1px 1px goldenrod,-15vw -15vh 0px 1px goldenrod,-6vw -42vh 1px 0px goldenrod,-15vw 48vh 1px 1px goldenrod,-23vw 25vh 1px 1px goldenrod,-48vw 25vh 0px 1px goldenrod,-31vw -19vh 0px 1px goldenrod,4vw 37vh 1px 1px goldenrod,-43vw 28vh 0px 0px goldenrod,3vw -25vh 0px 1px goldenrod,-39vw 14vh 0px 1px goldenrod,-40vw 31vh 0px 1px goldenrod,35vw -36vh 1px 1px goldenrod,16vw 49vh 0px 0px goldenrod,6vw 39vh 0px 0px goldenrod,3vw -35vh 0px 1px goldenrod,-44vw -2vh 1px 0px goldenrod,-6vw 21vh 1px 0px goldenrod,48vw 9vh 1px 1px goldenrod,-43vw 30vh 1px 1px goldenrod,29vw -12vh 1px 1px goldenrod,-48vw 13vh 1px 0px goldenrod,-42vw 32vh 1px 1px goldenrod,34vw 15vh 1px 1px goldenrod,29vw -37vh 1px 1px goldenrod,28vw 2vh 0px 0px goldenrod;
animation: zoom 10s alternate infinite; 
}

@keyframes zoom {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.5);
  }
}